<header>
  <nav>
    <div class="container">
      <div class="navbar-header">
        <h1><a href="/">Members</h1></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to  'New', new_staff_path %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>